Week6_Assignments/n8n_Setup/13. power-gas-tickets.json
{
  "name": "13. power-gas-tickets",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "5f6e4fac-da2a-46fa-b59f-9a0de460e071",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1uVHxFM-WpHS7jKq7QtEnjrNkQe4WxNd0",
          "mode": "list",
          "cachedResultName": "historical_tickets.json",
          "cachedResultUrl": "https://drive.google.com/file/d/1uVHxFM-WpHS7jKq7QtEnjrNkQe4WxNd0/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        208
      ],
      "id": "37a20c41-8716-4c30-b65c-8d369b04e3ed",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nTks1nj7hgqgVdvS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        512,
        208
      ],
      "id": "30ca2ef4-778a-40d0-953d-c5c1df9e58dc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        736,
        208
      ],
      "id": "8f95ded6-d6e6-4ee2-8bfd-e55caf34782d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69e35459-9d85-462a-b589-5c55ee2258a7",
              "name": "text",
              "value": "=Ticket ID: {{ $json.ticket_id }}\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nAsset Type: {{ $json.asset_type }}\nRegion: {{ $json.region }}\nCategory: {{ $json.category }}\nSeverity: {{ $json.severity }}\nRoot Cause: {{ $json.root_cause }}\nResolution: {{ $json.resolution }}\nResolution Time: {{ $json.resolution_time_hours }} hours",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        208
      ],
      "id": "7a3c8723-cf95-47bb-8123-c2690c9d508d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "power-gas-tickets",
          "mode": "list",
          "cachedResultName": "power-gas-tickets"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1184,
        208
      ],
      "id": "0144b972-b38b-4c05-b6bf-7541e78254cc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4WVjvyxfOQtSJMr1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        432
      ],
      "id": "f93700c8-f0e3-4576-a09a-eef140aa1e2a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5FZahsCDkWYHxuoh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1312,
        432
      ],
      "id": "e39aa5b0-73f3-49f6-bfa1-419f1433523b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## Setting vector DB\n\n* Picks ticket file from google drive\n* Dowanloads - Split \n* Place it in pinecone cector DB for embedding and storing vectors",
        "height": 560,
        "width": 1536
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "34435df9-d9ff-4fe1-a245-f273001e8a43",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "91e20249-b8ba-480a-89e8-a9240aee39b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2cca1bda785fe265cf4a5387ece9cc34e6ac47f8a1c228e1c2c08c333216aa4a"
  },
  "id": "21x8mUldt7DJDL4N",
  "tags": []
}