Week5_Assignments/n8n_Newsletter_Generation/Workflow_JsonFile/New Phase 2.json
{
  "name": "New Phase 2",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e510cb98-f99b-41ef-9a8d-639461b6dd85",
              "leftValue": "={{$json.topic}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f20fa5d3-3775-4265-95f0-ad23220db57b",
              "leftValue": "={{$json.language}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0c49db35-6c7e-4144-84fb-953333df5f86",
              "leftValue": "={{$json.tone}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "30350f29-b002-474b-8ccc-9a65c39cba58",
              "leftValue": "={{$json.email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "02be62da-bd1b-43dd-9782-e46802c9e280",
              "leftValue": "={{$json.platforms?.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -432
      ],
      "id": "aee0bf09-d564-4248-91c5-ded57543e284",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst platforms = $json.platforms || [];\nconst email = $json.email || null;\n\nconst items = $input.all();\n\n// ----- RELEVANCE SCORING ENGINE -----\n\nfunction scorRelevance(article, topic) {\n  const topicLower = topic.toLowerCase();\n  const topicWords = topicLower.split(/\\s+/).filter(w => w.length > 2);\n\n  const title = (article.title || \"\").toLowerCase();\n  const summary = (article.description || article.summary || \"\").toLowerCase();\n  const combined = title + \" \" + summary;\n\n  let score = 0;\n\n  // 1. Exact full topic match in title (strongest signal)\n  if (title.includes(topicLower)) {\n    score += 50;\n  }\n\n  // 2. Exact full topic match in description\n  if (summary.includes(topicLower)) {\n    score += 30;\n  }\n\n  // 3. Individual word matches (skip common words)\n  const stopWords = [\"the\", \"and\", \"for\", \"with\", \"from\", \"that\", \"this\",\n                      \"are\", \"was\", \"will\", \"has\", \"have\", \"been\", \"its\",\n                      \"how\", \"what\", \"who\", \"why\", \"when\", \"where\", \"about\",\n                      \"into\", \"more\", \"most\", \"some\", \"also\", \"than\", \"can\"];\n\n  const meaningfulWords = topicWords.filter(w => !stopWords.includes(w));\n\n  for (const word of meaningfulWords) {\n    if (title.includes(word)) {\n      score += 10;  // Word in title is strong\n    }\n    if (summary.includes(word)) {\n      score += 5;   // Word in description is moderate\n    }\n  }\n\n  // 4. Multi-word phrase matching (e.g. \"real estate\", \"machine learning\")\n  //    Check all 2-word and 3-word combos from the topic\n  for (let i = 0; i < meaningfulWords.length - 1; i++) {\n    const bigram = meaningfulWords[i] + \" \" + meaningfulWords[i + 1];\n    if (combined.includes(bigram)) {\n      score += 15;  // Phrase match is very strong\n    }\n    if (i < meaningfulWords.length - 2) {\n      const trigram = bigram + \" \" + meaningfulWords[i + 2];\n      if (combined.includes(trigram)) {\n        score += 25;  // 3-word phrase match is strongest\n      }\n    }\n  }\n\n  // 5. Penalize clickbait / removed articles\n  if (title.includes(\"[removed]\") || summary.includes(\"[removed]\")) {\n    score -= 100;\n  }\n  if (!article.title || article.title.trim() === \"\") {\n    score -= 100;\n  }\n\n  return score;\n}\n\n// ----- SCORE AND FILTER -----\n\nconst RELEVANCE_THRESHOLD = 15;  // Minimum score to keep\nconst MIN_ARTICLES = 3;           // Try to keep at least this many\nconst MAX_ARTICLES = 10;          // Cap output\n\nconst scoredArticles = items.map(item => {\n  const article = {\n    title: item.json.title || \"\",\n    summary: item.json.description || \"\",\n    url: item.json.url || \"\",\n    publishedAt: item.json.publishedAt || \"\"\n  };\n  const relevanceScore = scorRelevance(item.json, topic);\n  return { ...article, relevanceScore };\n});\n\n// Sort by relevance (highest first)\nscoredArticles.sort((a, b) => b.relevanceScore - a.relevanceScore);\n\n// Filter by threshold\nlet relevantArticles = scoredArticles.filter(a => a.relevanceScore >= RELEVANCE_THRESHOLD);\n\n// Fallback: if too few pass the threshold, take the top ones anyway\n// but warn in the output\nlet qualityWarning = null;\nif (relevantArticles.length < MIN_ARTICLES) {\n  qualityWarning = `Only ${relevantArticles.length} highly relevant articles found. ` +\n                   `Including top ${MIN_ARTICLES} by best available relevance.`;\n  relevantArticles = scoredArticles.slice(0, MIN_ARTICLES);\n}\n\n// Cap at max\nrelevantArticles = relevantArticles.slice(0, MAX_ARTICLES);\n\n// Clean output (remove score from final data)\nconst clean_articles = relevantArticles.map(a => ({\n  title: a.title,\n  summary: a.summary,\n  url: a.url,\n  publishedAt: a.publishedAt,\n  _relevanceScore: a.relevanceScore  // keep for debugging, OpenAI ignores this\n}));\n\nreturn [\n  {\n    json: {\n      topic,\n      platforms,\n      email,\n      articles: clean_articles,\n      _meta: {\n        totalFetched: items.length,\n        passedRelevance: clean_articles.length,\n        threshold: RELEVANCE_THRESHOLD,\n        qualityWarning: qualityWarning\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -432
      ],
      "id": "309a604c-ff48-4796-9f83-15860d801ead",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1792,
        -336
      ],
      "id": "5ed852e8-4ae8-48c7-a03f-5a705ebdb949",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "98d75bb5-a8bc-4aac-9811-c0a144f10148",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8f122c4a-c634-44b2-b328-ad5c0f7bef87",
              "leftValue": "={{$json[\"description\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4c4e4d2b-86bf-4749-9421-8fc1338df997",
              "leftValue": "={{$json[\"url\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "442820af-4b25-4db4-9437-fa3256d41abd",
              "leftValue": "={{$json[\"publishedAt\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b2634f99-c878-4731-a38d-6dc76de68d72",
              "leftValue": "={{$json[\"description\"].length}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        -336
      ],
      "id": "6a4ebb63-e4e3-4729-9256-1b5c10cd1319",
      "name": "Quality Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa4464bf-ce0d-4946-a14d-51e4d2a6de54",
              "leftValue": "={{$json[\"publishedAt\"]}}",
              "rightValue": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -336
      ],
      "id": "f2f53c20-13a4-4cba-bd57-db95aee5dd93",
      "name": "Filter Recency"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        -336
      ],
      "id": "0f60aebc-b5c2-4ff6-a115-04ab3d616537",
      "name": "Split Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        -432
      ],
      "id": "72fdf72a-79ce-4cbf-a73f-501aa54af6cd",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        -528
      ],
      "id": "e17c0b78-aec7-4751-a292-ecaac154dfa3",
      "name": "Preserve metadata"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        448,
        -432
      ],
      "id": "74b26bd5-5fc8-4bec-9c33-2a403c196df4",
      "name": "Info Research & Filtering"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.topic}}"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "96d34c9f063f4974a8af0e03bf7b653b"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -336
      ],
      "id": "88aecec3-8b2c-4fb3-a515-1c3ea043b04b",
      "name": "NewsAPI - Fetch articles"
    },
    {
      "parameters": {
        "content": "## Sub-Workflow 1 — Info Research & Filtering\n\n* Validates input fields\n* Fetches fresh articles from NewsAPI\n* Filters by \n          - recency, \n          - quality, and \n          - removes duplicates\n* Preserves original metadata\n* Passes clean articles to Phase 4.",
        "height": 256,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -752
      ],
      "typeVersion": 1,
      "id": "5724576f-c4d5-404d-bb70-c91652573624",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Preserve metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "NewsAPI - Fetch articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Quality Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Recency": {
      "main": [
        [
          {
            "node": "Quality Filter",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Filter Recency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve metadata": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Research & Filtering": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsAPI - Fetch articles": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b8f300d5-adae-4b7d-943c-79a44b2465c2",
  "meta": {
    "instanceId": "2cca1bda785fe265cf4a5387ece9cc34e6ac47f8a1c228e1c2c08c333216aa4a"
  },
  "id": "wUiwrjQ3iabG8U6G",
  "tags": []
}